.featured-text > h1 {
  font-weight: 300;
  z-index: 9999;
  position: relative;
}

.featured-text > h3 {
  font-weight: 100;
  z-index: 9999;
  position: relative;
}

.featured-container {
  height: 100vh;
  align-items: center;
  position: relative;
  padding: 0px;
}
.front_page_container p {
  font-weight: 100;
  margin-top: 32px;
}
