

.featured-text > h2 {
    font-weight:600;
}


.featured-text > h3{
    font-weight:100;
}

.featured-container{
    height:400px;
    /* background-image:url("../images/soumelidou_image.jpg"); */
    background-size:cover;
    background: url("../images/wave.png")!important;
    background-repeat: no-repeat;
    background-position-x: 100px;
    display:'flex';
    align-items: center;
  }
  
  .front_page_container p {
    font-weight:100;
    margin-top:32px;
  } 