

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}
.contact-info-item{
    display:flex;
    font-size:14px;
    color:#b2b2b2;
    line-height: 1.2;
    align-items:center;
    margin-bottom:12px;
}

.contact-info-icons{
    margin-right:14px;
    font-size:24px;
    color:#b2b2b2;
}
